extends layout

block content
  header
    h1= title
    span#tagline 24 of instagram's most popular images by #tagname
    form#search-bar
      input(type="text" placeholder="otters")
      input(type="submit", class="button-primary", value="SEARCH" id="searchBtn") 
    
  .pictures-container
    #instagram
    
    
